<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ania.krs20">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Wyszukiwarka"
            android:label="@string/title_activity_wyszukiwarka"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ania.krs20.MainActivity" />
        </activity>
        <activity
            android:name=".Dane"
            android:label="@string/title_activity_dane"
            android:parentActivityName=".Wyszukiwarka"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ania.krs20.Wyszukiwarka" />
        </activity>
        <activity
            android:name=".Lista"
            android:label="@string/title_activity_lista"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ania.krs20.MainActivity" />
        </activity>
        <activity
            android:name=".PodzialForma"
            android:label="@string/title_activity_podzial_forma"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ania.krs20.MainActivity" />
        </activity>
        <activity
            android:name=".PodzialWojew"
            android:label="@string/title_activity_podzial_wojew"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ania.krs20.MainActivity" />
        </activity>
        <activity
            android:name=".Autorzy"
            android:label="@string/title_activity_autorzy"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ania.krs20.MainActivity" />
        </activity>
    </application>

</manifest>
